<div class="header" >
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <img class="logo" src="../../../assets/logo.png" alt="bee" >
    <h1>Wii Honey <br><span>Turn all things to honey</span></h1>
       <div class="body">
           <img src="../../../assets/2.png" alt="" srcset="">
       </div> 
    <div class="btn">
        <button class="product-btn button">Products</button>
        <button class="chart-btn button">Cart<i class="fas fa-cart-plus"></i></button>
    </div>
</div>